:root{
    --header-bg-color: rgb(44 63 80);
    --hero-bg-color:rgb(26 188 156);
    --color-white: white;
    --bg-footer-top: rgb(59 84 109);
    --bg-footer-bot:rgb(44 63 80);
}
img*{
    max-width: 100%;
}

/* elementi in comune  */

.line{
    height: .2rem;
    width: 10rem;
    background-color: var(--color-white);
}

.black{
    background-color: black;
 }

 h4{
    font-size: 3rem;
}

/* /elementi in comune */

/* header  */

header{
    background-color: var(--header-bg-color);    
}  

.navbar>.container, .navbar>.ms_space-around{
    justify-content: space-around;
}
.ms_size{
    height: 70px;
    background-color: var(--header-bg-color);
    
}
.ms_bg-white{
    color: white;
    
}
.ms_title-color{
    color: white;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.ms_title-color {
    color: white;
}
/* sezione hero  */

.avatar{
    width: 200px;    
}  

.hero{
    background-color: var(--hero-bg-color) ;
    
}
.avatar-container{
    color: var(--color-white);
}

 /* sezione portfolio */
 
.img-wrap{
    width: 100%;  
}

.img-wrap img{
    width: 100%;
}

/* sezione about */

#about .container-md{
    background-color: var(--hero-bg-color);
    color: var(--color-white);
}

.smallest-container{
    width: 70%;
}

.ms_download{
    background-color: var(--hero-bg-color);
}

:not(.btn-check)+.ms_download:active{
    background-color: var(--hero-bg-color);
}

.ms_download:hover{
    background-color: var(--hero-bg-color);
    border: 1px solid white;
}

.ms_download:hover{
    background-color: var(--hero-bg-color);
    border: 1px solid white;
}   

/* sezione contact */

.identity{
    list-style: none;
}

.ms_focus-visible:focus{ 
   box-shadow: none;
   border-bottom: 1px solid black;
    border-radius: 0%;
}

.ms_focus-visible{
    border-radius: 0%;
}

.identity hr{
    width: 80%;
}

.ms_send{
    background-color: var(--hero-bg-color);
    border: none;
    color: var(--color-white);
}

.ms_send:focus-visible{
    background-color: var(--hero-bg-color);
}

.ms_send:first-child:active{
    background-color: var(--hero-bg-color);
}

.ms_send:hover{
    background-color: var(--hero-bg-color);
}
/* footer superiore */

#footer-top{
    background-color: var(--bg-footer-top);
    color: var(--color-white);
}

.icons{
    list-style: none;     
}

.icons li{ 
   height: 50px;
   width: 50px;
   line-height: 50px;    
}

.start-bootstrap{
    color: var(--hero-bg-color);
}

/* footer bottom */

#footer-bottom{
    background-color: var(--bg-footer-bot);
    color: var(--color-white);  
}
