:root{
    --header-bg-color: rgb(44 63 80);
    --hero-bg-color:rgb(26 188 156);
    --color-white: white;
    --bg-footer-top: rgb(59 84 109);
    --bg-footer-bot:rgb(44 63 80);
}
img*{
    max-width: 100%;
}
.padding-2{
    padding-top: 2rem;
}
header{
    background-color: var(--header-bg-color);
    height: 100px;
}  
.avatar{
    width: 200px;
    margin: auto;
    
    
}  
.hero{
    background-color: var(--hero-bg-color) ;
    min-height: 350px;
}
.avatar-container{
    text-align: center;
    color: var(--color-white);
}
.line{
    height: .3rem;
    width: 4rem;
    background-color: inherit;
}
.star{
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    padding: 2rem;

}
.line{
    width: 4rem;
    background-color: var(--color-white);
    height: .2rem
}
 .job{
    padding: 0 1rem;
    font-size: 1rem;
 }

 /* sezione portfolio */
 #portfolio h4{
    text-align: center;
 }
 .black{
    background-color: black;
 }
.img-wrap{
    width: 100%;  
}
.img-wrap img{
    width: 100%;
}

@media screen and(min-width :1121px){
  
}

/* sezione about */
#about .container-md{
    background-color: var(--hero-bg-color);
    text-align: center;
    margin-top: 3rem;
    color: var(--color-white);
}
.smallest-container{
    width: 70%;
    margin: auto;
    text-align: left;
}
#contact .line{
    background-color: var(--bg-footer-top);
}
.ms_download{
    background-color: var(--hero-bg-color);
    border: 1px solid white;
}
.ms_download:hover{
    background-color: var(--hero-bg-color);
    border: 1px solid white;
}
.ms_download:hover{
    background-color: var(--hero-bg-color);
    border: 1px solid white;
}    
/* sezione contact */
h4{
    text-align: center;
    
}
.identity li:nth-child(5){
    margin-top: 5rem;
}
.identity{
    list-style: none;
    padding-bottom: 30px;
   
}
.ms_focus-visible:focus{
   border: none;
   box-shadow: none;
   border-bottom: 1px solid black;
    border-radius: 0%;
}
.ms_focus-visible{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0%;
}
.identity hr{
    width: 80%;
}
.ms_send{
    background-color: var(--hero-bg-color);
    border: none;
}
.ms_send:focus-visible{
    background-color: var(--hero-bg-color);
}
.ms_send:first-child:active{
    background-color: var(--hero-bg-color);
}
.ms_send:hover{
    background-color: var(--hero-bg-color);
}
#footer-top{
    background-color: var(--bg-footer-top);
    text-align: center;
    color: var(--color-white);
}
.icons{
    list-style: none;
    text-align: center;
    justify-content: center;
    gap: 1rem;
}
.icons li{
   border: 1px solid white;
   height: 50px;
   width: 50px;
   line-height: 50px;
   border-radius: 50%
   
}
.start-bootstrap{
    color: var(--hero-bg-color);
}

/* footer bottom */
#footer-bottom{
    background-color: var(--bg-footer-bot);
    color: var(--color-white);
    text-align: center;
    
}
