:root{
    --header-bg-color: rgb(44 63 80);
    --hero-bg-color:rgb(26 188 156);
    --color-white: white;
}
img*{
    max-width: 100%;
}
.padding-2{
    padding-top: 2rem;
}
header{
    background-color: var(--header-bg-color);
    height: 100px;
}  
.avatar{
    width: 200px;
    margin: auto;
    
    
}  
.hero{
    background-color: var(--hero-bg-color) ;
    min-height: 350px;
}
.avatar-container{
    text-align: center;
    color: var(--color-white);
}
.line{
    height: .3rem;
    width: 4rem;
    background-color: inherit;
}
.star{
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;

}
.line{
    width: 4rem;
    background-color: var(--color-white);
    height: .2rem
}
 .job{
    padding: 0 1rem;
    font-size: 1rem;
 }

 /* sezione portfolio */
 #portfolio h4{
    text-align: center;
 }
 .black{
    background-color: black;
 }
.img-wrap{
    width: 100%;  
}
.img-wrap img{
    width: 100%;
}

@media screen and(min-width :1121px){
  
}
.red{
    background-color: red;
    height: 200px;
}
.blu{
    background-color: blue;
    height: 200px;
}

/* sezione about */
#about .container-md{
    background-color: lawngreen;
    text-align: center;
    margin-top: 3rem;
}
.smallest-container{
    width: 70%;
    margin: auto;
    text-align: left;
    background-color: orange;
}
.download{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid white;
}
a{
    text-decoration: none;
    color: white;
}
h4{
    text-align: center;
}
.identity li:nth-child(5){
    margin-top: 5rem;
}
.identity{
    list-style: none;
    padding-bottom: 30px;
   
}
.identity hr{
    width: 80%;
}
.send{
    padding: 5px 10px;
    border-radius: 5px;
}
#footer-top{
    background-color: lightpink;
    text-align: center;
}
.icons{
    list-style: none;
    text-align: center;
    justify-content: center;
}

/* footer bottom */
#footer-bottom{
    background-color: black;
    color: var(--color-white);
    text-align: center;
}
